@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  font-family: 'Oswald';
  margin: 0;
  padding: 0;
}

.header .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 34px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__logo .header__navbar .header__navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header__logo .header__navbar .header__navbar-list .header__navbar-items {
  padding-right: 106px;
  font-size: 18px;
}

.header .header__logo .header__navbar .header__navbar-list .header__navbar-items a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.header #header__heading-phg {
  position: absolute;
  top: 30%;
  right: 16%;
}

.header #header__heading-gr {
  position: absolute;
  top: 0;
  left: 230px;
}

.header h1 {
  text-transform: uppercase;
  position: absolute;
  top: 43%;
  left: 22%;
  color: white;
  font-size: 65px;
  letter-spacing: 0.2em;
}

.section__info {
  background-color: #0B0A16;
  padding: 57px 0 0;
  margin: -5px 0;
  position: relative;
}

.section__info .section__info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 25%;
}

.section__info .section__info-list a {
  color: #ffffff;
  text-decoration: none;
  font-size: 24px;
  line-height: 35.57px;
}

.section__info .section__img-frameLeft {
  position: relative;
  top: -45px;
}

.section__info .section__img-frameRight {
  position: absolute;
  right: 0;
  bottom: 114px;
}

.section__info hr {
  position: absolute;
  left: 25%;
  right: 25%;
}

.section__info .section__row {
  position: relative;
  padding: 0px 9%;
  top: -188px;
}

.section__info .section__row .row .section__product {
  position: relative;
}

.section__info .section__row .row .section__product .section__img-ec3 {
  width: 100%;
  padding-bottom: 20px;
}

.section__info .section__row .row .section__product .section__img-frame {
  position: absolute;
  width: 18%;
  right: 47px;
  top: 23px;
}

.section__contact {
  background: linear-gradient(95.92deg, #02EE55 39.19%, #38AFF1 104.14%);
  max-height: 466px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
}

.section__contact .section__contact-para {
  padding: 94px 106px;
}

.section__contact .section__contact-para h1 {
  font-size: 72px;
  margin: 0;
}

.section__contact .section__contact-para h3 {
  width: 192px;
  text-align: center;
  height: 70px;
  border: 1px solid #0B0A16;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: uppercase;
  padding: 17px 0;
}

.section__contact .section__contact-announce {
  width: 50%;
}

.section__contact .section__contact-announce .section__contact-loud {
  position: absolute;
  top: -36%;
  right: -1px;
}

.section__contact .section__contact-announce .section__contact-hand {
  position: absolute;
  right: -60px;
  top: -11%;
}

.section__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: black;
  color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__footer .section__footer-left {
  position: relative;
  padding: 65px 160px;
}

.section__footer .section__footer-left h2 {
  position: absolute;
  top: 28px;
  left: 27%;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  line-height: 48px;
  letter-spacing: 8px;
}

.section__footer .section__footer-right {
  text-align: end;
  padding-right: 160px;
}

.section__footer .section__footer-right a {
  color: white;
  padding: 0px 9px;
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=style.css.map */