@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');


*,
html,
body {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Oswald';
    margin: 0;
    padding: 0;
    height: 100%;
}

.header {

    .header__logo {
        display: flex;
        position: absolute;
        top: 34px;
        justify-content: space-between;
        width: 100%;
        align-items: center;

        img {

            margin: 0 160px;
        }

        .header__navbar {
            display: flex;

            .header__navbar-list {
                display: flex;

                .header__navbar-items {
                    padding-right: 106px;
                    font-size: 18px;

                }

                a {
                    color: white;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: bold;

                }
            }
        }

        #regions {
            margin: 0 130px
        }
    }

    .header__heading-phg {
        position: absolute;
        top: 14%;
        right: 20%;
    }

    .header__heading-work {
        width: 100%;

    }

    h1 {
        text-transform: uppercase;
        position: absolute;
        top: 44%;
        left: 17%;
        color: white;
        font-size: 64px;
        letter-spacing: 0.2em;
    }
}





.section__info {
    background-color: #0B0A16;
    width: 100%;
    padding-top: 4%;
    position: relative;
    top: -6px;

    .section__info-list {
        display: flex;
        justify-content: space-between;
        padding: 0 24%;

        a {
            color: #ffffff;
            text-decoration: none;
            font-size: 24px;
            line-height: 35.57px;
        }
    }

    .section__img-frameLeft {
        position: absolute;
        top: 50px;
        bottom: 0;
        right: 0;
        left: 0;

    }

    .section__img-frameRight {
        position: absolute;
        top: 766px;
        right: 0;
        bottom: 0;
    }

    hr {
        width: 52%;
        left: 24%;
        position: absolute;
    }

    .section__product {
        display: flex;
        flex-wrap: wrap;
        // width: calc(103% - 15px - 320px);
        margin: 60px 145px;
    }


    .section__product-img {
        width: 22%;
        position: relative;
        padding: 10px;

        #section__img-frame {
            position: absolute;
            left: 296px;
            top: 26px;
            right: 0;
            bottom: 0;
        }
    }

}


.section__contact {
    background: linear-gradient(95.92deg, #02EE55 39.19%, #38AFF1 104.14%);
    display: flex;
    position: relative;
    top: -7.5%;

    .section__contact-para {
        padding: 94px 153px;

        h1 {
            font-size: 70px;
            margin: 0 auto;
            text-transform: uppercase;
        }

        h3 {
            width: 192px;
            text-align: center;
            height: 70px;
            border: 1px solid #0B0A16;
            box-sizing: border-box;
            text-transform: uppercase;
            padding: 17px 0;
        }
    }

    .section__contact-announce {
        width: 100%;

        .section__contact-loud {
            position: absolute;
            left: 59%;
            top: -28%;
        }

        .section__contact-hand {
            position: absolute;
            top: 3%;
            right: 0;
        }
    }
}

.section__footer {
    display: flex;
    justify-content: space-around;
    background-color: black;
    position: relative;
    top: -70px;

    .section__footer-left {

        width: 70%;

        .section__footer-contact {
            padding: 60px 160px;
        }

        h1 {
            font-size: 130px;
            line-height: 162px;
            font-weight: 600px;
        }

        h2 {
            text-align: center;
            line-height: 42px;
            color: white;
            text-transform: uppercase;
            font-size: 40px;
            padding: 28px 0;
            letter-spacing: 7.06px;
            position: absolute;
            left: 339px;
            font-weight: 600;
        }
    }

    .section__footer-right {
        color: white;
        text-align: end;
        margin-top: 30px;

        a {
            padding: 10px;
            color: white;
        }
    }
}

ul,
li {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}