@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
*,
html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: 'Oswald';
  margin: 0;
  padding: 0;
  height: 100%;
}

.header .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 34px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__logo img {
  margin: 0 160px;
}

.header .header__logo .header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header__logo .header__navbar .header__navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header__logo .header__navbar .header__navbar-list .header__navbar-items {
  padding-right: 106px;
  font-size: 18px;
}

.header .header__logo .header__navbar .header__navbar-list a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.header .header__logo #regions {
  margin: 0 130px;
}

.header .header__heading-phg {
  position: absolute;
  top: 14%;
  right: 20%;
}

.header .header__heading-work {
  width: 100%;
}

.header h1 {
  text-transform: uppercase;
  position: absolute;
  top: 44%;
  left: 17%;
  color: white;
  font-size: 64px;
  letter-spacing: 0.2em;
}

.section__info {
  background-color: #0B0A16;
  width: 100%;
  padding-top: 4%;
  position: relative;
  top: -6px;
}

.section__info .section__info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 24%;
}

.section__info .section__info-list a {
  color: #ffffff;
  text-decoration: none;
  font-size: 24px;
  line-height: 35.57px;
}

.section__info .section__img-frameLeft {
  position: absolute;
  top: 50px;
  bottom: 0;
  right: 0;
  left: 0;
}

.section__info .section__img-frameRight {
  position: absolute;
  top: 766px;
  right: 0;
  bottom: 0;
}

.section__info hr {
  width: 52%;
  left: 24%;
  position: absolute;
}

.section__info .section__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 60px 145px;
}

.section__info .section__product-img {
  width: 22%;
  position: relative;
  padding: 10px;
}

.section__info .section__product-img #section__img-frame {
  position: absolute;
  left: 296px;
  top: 26px;
  right: 0;
  bottom: 0;
}

.section__contact {
  background: linear-gradient(95.92deg, #02EE55 39.19%, #38AFF1 104.14%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: -7.5%;
}

.section__contact .section__contact-para {
  padding: 94px 153px;
}

.section__contact .section__contact-para h1 {
  font-size: 70px;
  margin: 0 auto;
  text-transform: uppercase;
}

.section__contact .section__contact-para h3 {
  width: 192px;
  text-align: center;
  height: 70px;
  border: 1px solid #0B0A16;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: uppercase;
  padding: 17px 0;
}

.section__contact .section__contact-announce {
  width: 100%;
}

.section__contact .section__contact-announce .section__contact-loud {
  position: absolute;
  left: 59%;
  top: -28%;
}

.section__contact .section__contact-announce .section__contact-hand {
  position: absolute;
  top: 3%;
  right: 0;
}

.section__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: black;
  position: relative;
  top: -70px;
}

.section__footer .section__footer-left {
  width: 70%;
}

.section__footer .section__footer-left .section__footer-contact {
  padding: 60px 160px;
}

.section__footer .section__footer-left h1 {
  font-size: 130px;
  line-height: 162px;
  font-weight: 600px;
}

.section__footer .section__footer-left h2 {
  text-align: center;
  line-height: 42px;
  color: white;
  text-transform: uppercase;
  font-size: 40px;
  padding: 28px 0;
  letter-spacing: 7.06px;
  position: absolute;
  left: 339px;
  font-weight: 600;
}

.section__footer .section__footer-right {
  color: white;
  text-align: end;
  margin-top: 30px;
}

.section__footer .section__footer-right a {
  padding: 10px;
  color: white;
}

ul,
li {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=style.css.map */