@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');


* {

    box-sizing: border-box;
}

body,
html {
    font-family: 'Oswald';
    margin: 0;
    padding: 0;
}


.header {
    position: relative;

    .header__logo {
        display: flex;
        position: absolute;
        top: 34px;
        justify-content: space-around;
        width: 100%;
        align-items: center;

        .header__navbar {
            .header__navbar-list {
                display: flex;

                .header__navbar-items {
                    padding-right: 120px;
                    font-size: 18px;


                    a {
                        color: white;
                        text-decoration: none;
                        text-transform: uppercase;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    #header__heading-phg {
        position: absolute;
        top: 30%;
        right: 16%;
    }

    h1 {
        text-transform: uppercase;
        position: absolute;
        bottom: 14%;
        left: 23%;
        width: 72%;
        color: white;
        font-size: 3em;
        letter-spacing: 0.2em;
    }

    #header__heading-vector1 {
        position: absolute;
        bottom: 15%;
        left: 17.6%;
        top: 19.5%;
    }

    #header__heading-vector2 {
        position: absolute;
        bottom: 13%;
        left: 15.5%;
        top: 15.2%;
    }

    #header__heading-vector3 {
        position: absolute;
        bottom: 14%;
        left: 13%;
        top: 10%;
    }

    #header__heading-vector4 {
        position: absolute;
        bottom: 14%;
        left: 11%;
        top: 5.5%;
    }

    #header__heading-vector5 {
        position: absolute;
        bottom: 14%;
        left: 9%;
        top: 1%;
    }
}


.section__info {
    background-color: #0B0A16;
    padding: 57px 0 0;
    margin: -5px 0;
    position: relative;


    .section__info-list {
        display: flex;
        justify-content: space-between;
        padding: 0 25%;



        a {
            color: #ffffff;
            text-decoration: none;
            font-size: 16px;
            line-height: 34px;
            opacity: 50%;

        }

        .section__info-active {
            font-weight: 300;
            position: relative;

            a {
                color: #02EE55;
                opacity: 100%;
            }

            img {
                position: absolute;
                width: 100%;
                height: 8%;
                bottom: -25%;
                left: 0;
            }
        }
    }

    .section__img-frameLeft {
        position: relative;
        top: -45px;
    }

    .section__img-frameRight {
        position: absolute;
        right: 0;
        bottom: 114px;
    }

    hr {
        position: absolute;
        left: 25%;
        right: 25%;
        opacity: 50%;
    }

    .section__row {

        position: relative;
        padding: 0px 9%;
        top: -188px;

        .row {
            .section__product {
                position: relative;

                .section__img-ec3 {
                    width: 100%;
                    padding-bottom: 20px;

                }

                .section__img-frame {
                    position: absolute;
                    width: 18%;
                    right: 47px;
                    top: 23px;
                }

            }

            .section__product:hover {
                .section__img-frame {
                    transform: rotate(45deg);
                    transition: 1.2s;
                }

                .section__img-ec {
                    display: block;
                    position: absolute;
                    width: 97%;
                    top: 0;

                }

                h2 {
                    display: block;
                    position: absolute;
                    bottom: 7%;
                    left: 10%;
                    font-size: 160%;
                    color: white;
                }

                p {
                    display: block;
                    position: absolute;
                    bottom: 18%;
                    left: 10%;
                    font-size: 110%;
                    color: #02EE55;
                }
            }
        }

    }
}


.section__contact {
    background: linear-gradient(95.92deg, #02EE55 39.19%, #38AFF1 104.14%);
    max-height: 466px;
    display: flex;
    position: relative;
    overflow: hidden;

    .section__contact-para {
        padding: 94px 106px;

        h1 {
            font-size: 72px;
            margin: 0;
        }

        h3 {
            width: 192px;
            text-align: center;
            height: 70px;
            border: 1px solid #0B0A16;
            box-sizing: border-box;
            text-transform: uppercase;
            padding: 17px 0;
        }
    }

    .section__contact-announce {
        width: 50%;

        .section__contact-loud {
            position: absolute;
            top: -36%;
            right: -1px;
        }

        .section__contact-hand {
            position: absolute;
            right: -60px;
            top: -11%;
        }
    }
}


.section__footer {
    display: flex;
    width: 100%;
    background-color: black;
    color: white;
    justify-content: space-between;
    align-items: center;

    .section__footer-left {
        position: relative;
        padding: 65px 160px;

        h2 {
            position: absolute;
            top: 28px;
            left: 27%;
            font-size: 40px;
            text-transform: uppercase;
            text-align: center;
            line-height: 48px;
            letter-spacing: 8px;
        }

    }

    .section__footer-right {
        text-align: end;
        padding-right: 160px;

        a {
            color: white;
            padding: 0px 9px;
            text-decoration: none;

        }
    }
}



ul,
li {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

/* PC */
@media (max-width: 1023px) {
    .header {
        .header__logo {
            .header__navbar {
                .header__navbar-list {
                    .header__navbar-items {
                        display: none;
                    }

                    img {
                        display: block;
                    }
                }
            }
        }
    }

    .section__info {
        .section__info-list {}

        .section__row {
            .row {
                .section__product {

                    .section__img-ec3,
                    .section__img-frame {
                        display: none;
                    }

                    p,
                    h2,
                    .section__img-ec {
                        display: block;
                    }

                }
            }
        }
    }
}