@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');


* {

    box-sizing: border-box;
}

body,
html {
    font-family: 'Oswald';
    margin: 0;
    padding: 0;
}


.header {
    position: relative;

    .header__logo {
        display: flex;
        position: absolute;
        top: 34px;
        justify-content: space-around;
        width: 100%;
        align-items: center;

        a {
            padding-right: 1%;
        }

        .header__navbar {
            .header__navbar-list {
                display: flex;

                .header__navbar-items {
                    padding-right: 120px;
                    font-size: 18px;


                    a {
                        color: white;
                        text-decoration: none;
                        text-transform: uppercase;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    #header__heading-phg {
        position: absolute;
        top: 30%;
        right: 16%;
    }

    h1 {
        text-transform: uppercase;
        position: absolute;
        bottom: 50%;
        left: 24%;
        color: white;
        font-size: 3em;
        letter-spacing: 0.35em;
        right: 50%;
        top: 50%;
        width: calc(100% - 29.5%);
    }

    #header__heading-vector1 {
        position: absolute;
        border-radius: 50%;
        border: 2px solid #00FF5A;
        left: 21.24%;
        top: 14.24%;
        bottom: 61.24%;
        right: 67.24%;

        #header__heading-vector2 {

            position: absolute;
            border-radius: 50%;
            border: 1px solid #00FF5A;
            left: -17%;
            top: -17%;
            bottom: -17%;
            right: -17%;

            #header__heading-vector3 {
                position: absolute;
                border-radius: 50%;
                border: 1px solid #00FF5A;
                left: -12%;
                top: -12%;
                bottom: -12%;
                right: -12%;
                opacity: 0.6;

                #header__heading-vector4 {
                    position: absolute;
                    border-radius: 50%;
                    border: 1px solid #00FF5A;
                    left: -11%;
                    top: -11%;
                    bottom: -11%;
                    right: -11%;
                    opacity: 0.4;

                    #header__heading-vector5 {
                        position: absolute;
                        border-radius: 50%;
                        border: 1px solid #00FF5A;
                        left: -11%;
                        top: -11%;
                        bottom: -11%;
                        right: -11%;
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}


.section__info {
    background-color: #0B0A16;
    padding: 57px 0 0;
    margin: -5px 0;
    position: relative;


    .section__info-list {
        display: flex;
        justify-content: space-between;
        padding: 0 25%;



        a {
            color: #ffffff;
            text-decoration: none;
            font-size: 24px;
            line-height: 34px;
            opacity: 50%;

        }

        .section__info-active {
            font-weight: 300;
            position: relative;

            a {
                color: #02EE55;
                opacity: 100%;
            }

            img {
                position: absolute;
                width: 100%;
                height: 12%;
                bottom: -25%;
                left: 0;
            }
        }
    }

    .section__img-frameLeft {
        position: relative;
        top: -45px;
    }

    .section__img-frameRight {
        position: absolute;
        right: 0;
        bottom: 114px;
    }

    hr {
        position: absolute;
        left: 25%;
        right: 25%;
        opacity: 50%;
    }

    .section__row {

        position: relative;
        padding: 0px 9%;
        top: -188px;

        .row {
            .section__product {
                position: relative;

                .section__img-ec3 {
                    width: 100%;
                    padding-bottom: 20px;
                    // z-index: 2;
                }

                .section__img-ec {
                    opacity: 0;
                    display: block;
                    position: absolute;
                    width: 94%;
                    top: 0;
                    transition: opacity 1s;
                }

                .section__img-frame {
                    opacity: 1;
                    position: absolute;
                    width: 18%;
                    right: 47px;
                    top: 23px;
                }

                h2 {
                    opacity: 0;
                    display: block;
                    position: absolute;
                    bottom: 7%;
                    left: 10%;
                    font-size: 160%;
                    color: white;
                    transition: opacity 1s;
                }

                p {
                    opacity: 0;
                    display: block;
                    position: absolute;
                    bottom: 18%;
                    left: 10%;
                    font-size: 110%;
                    color: #02EE55;
                    transition: opacity 1s;
                }

            }

            .section__product:hover {
                .section__img-frame {
                    transform: rotate(45deg);
                    transition: opacity 1.2s;
                }

                .section__img-ec,
                p,
                h2 {
                    opacity: 1;
                }

            }
        }

    }
}


.section__contact {
    background: linear-gradient(95.92deg, #02EE55 39.19%, #38AFF1 104.14%);
    height: 466px;
    display: flex;
    position: relative;
    overflow: hidden;

    .section__contact-para {
        padding: 94px 106px;

        h1 {
            font-size: 72px;
            margin: 0;

        }

        h3 {
            width: 192px;
            text-align: center;
            height: 70px;
            border: 1px solid #0B0A16;
            box-sizing: border-box;
            text-transform: uppercase;
            padding: 17px 0;
        }
    }

    .section__contact-announce {
        width: 50%;

        .section__contact-loud {
            position: absolute;
            top: -36%;
            right: -1px;
        }

        .section__contact-hand {
            position: absolute;
            right: -60px;
            top: -11%;
        }
    }
}


.section__footer {
    display: flex;
    width: 100%;
    background-color: black;
    color: white;
    justify-content: space-between;
    align-items: center;

    .section__footer-left {
        position: relative;
        padding: 65px 160px;

        h2 {
            position: absolute;
            top: 28px;
            left: 27%;
            font-size: 40px;
            text-transform: uppercase;
            text-align: center;
            line-height: 48px;
            letter-spacing: 8px;
        }

    }

    .section__footer-right {
        text-align: end;
        padding-right: 160px;

        a {
            color: white;
            padding: 0px 9px;
            text-decoration: none;

        }
    }
}



ul,
li {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

@media (max-width: 1600px) {
    .header {
        h1 {
            font-size: 2.6em;
        }
    }
}

/* PC */
@media (max-width: 1280px) {
    .header {
        h1 {
            font-size: 1.8em;
        }

        .header__logo {
            a {
                .header__logo-logo {
                    width: 20%;
                    position: absolute;
                    left: 4.27%;
                    right: 76.85%;
                    top: 16.67%;
                    bottom: 16.67%;
                }
            }

            .header__navbar {
                .header__navbar-list {
                    .header__navbar-items {
                        display: none;
                    }

                    img {
                        display: block;
                        position: absolute;
                        left: 90.4%;
                        right: 4.27%;
                        top: 33.33%;
                        bottom: 36.67%;
                    }
                }
            }
        }

        #header__heading-phg {
            width: 7%;
        }

        #header__heading-vector1 {
            left: 5.24%;
            top: 6.24%;
            bottom: 69.24%;
            right: 83.24%;
        }
    }

    .section__info {

        .section__img-frameLeft,
        .section__img-frameRight {
            display: none;
        }

        .section__info-list {
            padding: 0 8%;
        }

        hr {
            left: 8%;
            right: 8%;
        }

        .section__row {
            padding: 60px 100px;
            top: 0;

            .row {
                margin: 0 20px;

                .section__product {

                    max-width: 70%;
                    pointer-events: none;
                    padding-bottom: 49px;
                    flex: 0 0 50%;

                    .section__img-ec3,
                    .section__img-frame {
                        opacity: 0;
                    }

                    p,
                    h2,
                    .section__img-ec {
                        opacity: 1;

                        width: 95.5%;
                    }

                    h2 {

                        display: block;
                        position: absolute;
                        bottom: 13%;
                        left: 10%;
                        font-size: 160%;
                        color: white;
                    }

                    p {

                        display: block;
                        position: absolute;
                        bottom: 24%;
                        left: 10%;
                        font-size: 110%;
                        color: #02EE55;
                    }
                }
            }
        }
    }

    .section__contact {
        height: 1480px;

        .section__contact-para {
            h3 {
                width: 70%;
                height: 10%;
            }

            h1 {
                padding-bottom: 90px;
                width: auto;
                margin: auto;
            }
        }

        .section__contact-announce {
            width: 0;

            .section__contact-loud {
                top: 20%;
                right: -3%;
                width: 100%;
                height: 100%;
            }

            .section__contact-hand {
                top: 40%;
                right: -26%;
                width: 100%;
                height: 88%;
            }
        }
    }

    .section__footer {
        flex-direction: column;
        justify-content: center;
        height: 500px;

        .section__footer-left {

            img {
                width: 126%;
                position: relative;
                left: -12%;
            }

            h2 {
                br {
                    content: ' ';
                }

                br:after {
                    content: ' ';
                }

                top: 28px;
                left: 10%;
                font-size: 50px;
                width: 80%;
            }
        }

        .section__footer-right {
            text-align: center;
            padding-right: 0;

            a {
                padding: 0px 22px;
                font-size: 40px;
            }
        }
    }
}

/* Mobile */
@media (max-width: 768px) {
    .header {
        .header__logo {
            top: 20px;
            .header__navbar {
                .header__navbar-list {
                    img {
                        width: 6%;
                    }
                }
            }
        }
        #header__heading-phg {
            width: 19px;
            height: 22px;
        }

        h1 {
            font-size: 1.3em;
            width: max-content;
            letter-spacing: 2px;
        }
    }

    .section__info {
        .section__row {
            padding: 50px 0;
        }
    }
}