@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');


*,
html,
body {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald';
    width: 1920px;
}

.header {
    height: 820px;

    .header__logo {
        display: flex;
        position: absolute;
        top: 34px;
        justify-content: space-around;
        width: 100%;
        align-items: center;

        .header__navbar {
            .header__navbar-list {
                display: flex;

                .header__navbar-items {
                    padding-right: 106px;
                    font-size: 18px;

                    a {
                        color: white;
                        text-decoration: none;
                        text-transform: uppercase;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    #header__heading-phg {
        position: absolute;
        top: 261px;
        right: 378px;
    }

    #header__heading-gr {
        position: absolute;
        top: 0;
        left: 230px;
    }

    // #header__heading-work {
    //     img {
    //         width: 1920px;
    //         height: 820px;
    //     }
    // }

    h1 {
        text-transform: uppercase;
        position: absolute;
        top: 464px;
        left: 430px;
        color: white;
        font-size: 65px;
        letter-spacing: 0.2em;
    }
}

.section__info {
    background-color: #0B0A16;
    padding: 57px 0 0;
    max-height: 1230px;

    .section__info-list {
        display: flex;
        justify-content: space-between;
        padding: 0 480px;

        a {
            color: #ffffff;
            text-decoration: none;
            font-size: 24px;
            line-height: 35.57px;
        }
    }

    .section__img-frameLeft {
        position: relative;
        top: -45px;
    }

    .section__img-frameRight {
        position: absolute;
        left: 1710px;
        top: 1636px;
    }

    hr {
        width: 960px;
        left: 480px;
        position: absolute;
    }

    .section__product {
        position: relative;

        .section__img-frame {
            position: absolute;
            top: 5%;
            right: 0%;
            bottom: 0;
            left: 59%;
        }
    }
}

}

.section__contact {
    background: linear-gradient(95.92deg, #02EE55 39.19%, #38AFF1 104.14%);
    max-height: 466px;
    display: flex;

    .section__contact-para {
        padding: 94px 153px;

        h1 {
            font-size: 72px;
            padding-bottom: 28px;
        }

        h3 {
            width: 192px;
            text-align: center;
            height: 70px;
            border: 1px solid #0B0A16;
            box-sizing: border-box;
            text-transform: uppercase;
            padding: 17px 0;
        }
    }

    .section__contact-announce {
        width: 100%;

        .section__contact-loud {
            position: absolute;
            width: 556.28px;
            height: 556.28px;
            left: 1317.12px;
            top: 1934px;
        }

        .section__contact-hand {
            position: absolute;
            height: 554px;
            left: 1522px;
            top: 2029px;
        }
    }
}


ul,
li {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}